Repository khaaarl/carltographer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pytest, cargo-fmt, cargo-clippy, cargo-test

ty:
  name: ty check
  entry: v2/.env/bin/ty check v2/
  language: system
  pass_filenames: false

pytest:
  name: pytest
  entry: bash -c 'cd v2 && .env/bin/python -m pytest --no-header -q; ret=$?; [ $ret -eq 5 ] && exit 0 || exit $ret'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd v2/engine_rs && cargo fmt --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c 'cd v2/engine_rs && cargo clippy --quiet -- -D warnings'
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: bash -c 'cd v2/engine_rs && cargo test --quiet'
  language: system
  pass_filenames: false

Add terrain customization & TTS integration roadmap
  v2/TERRAIN_CUSTOMIZATION_ROADMAP.md
Due: none

Add status tracking and fix dependencies in roadmap
  v2/TERRAIN_CUSTOMIZATION_ROADMAP.md
Due: none

Add rust-optimizer agent and optimization loop runbook
  .claude/agents/rust-optimizer.md
  v2/engine_rs/OPTIMIZATION_LOOP.md
Due: cargo-clippy

Add tags to TerrainFeature across full pipeline (B1 Tag System)
  v2/TERRAIN_CUSTOMIZATION_ROADMAP.md
  v2/engine/mutation.py
  v2/engine/types.py
  v2/engine_cmp/compare.py
  v2/engine_rs/src/collision.rs
  v2/engine_rs/src/generate.rs
  v2/engine_rs/src/mutation.rs
  v2/engine_rs/src/types.rs
  v2/engine_rs/src/visibility.rs
  v2/frontend/app.py
  v2/schemas/carltographer.schema.json
Due: ty, pytest, cargo-fmt, cargo-clippy, cargo-test

Add configurable TuningParams and hyperparameter search script
  v2/engine/generate.py
  v2/engine/generate_test.py
  v2/engine/mutation.py
  v2/engine/mutation_test.py
  v2/engine/tempering.py
  v2/engine/types.py
  v2/engine_cmp/compare.py
  v2/engine_rs/src/generate.rs
  v2/engine_rs/src/mutation.rs
  v2/engine_rs/src/tempering.rs
  v2/engine_rs/src/types.rs
  v2/scripts/example_base_params.json
  v2/scripts/example_search_space.json
  v2/scripts/tune_hyperparams.py
Due: ty, pytest, cargo-fmt, cargo-clippy, cargo-test

Add feature locking (D2) across full pipeline
  v2/TERRAIN_CUSTOMIZATION_ROADMAP.md
  v2/engine/mutation.py
  v2/engine/types.py
  v2/engine_cmp/compare.py
  v2/engine_rs/src/collision.rs
  v2/engine_rs/src/generate.rs
  v2/engine_rs/src/mutation.rs
  v2/engine_rs/src/types.rs
  v2/engine_rs/src/visibility.rs
  v2/frontend/app.py
  v2/schemas/carltographer.schema.json
Due: ty, pytest, cargo-fmt, cargo-clippy, cargo-test

Clean up roadmap: remove D3 Hybrid Generation, renumber D4→D3
  v2/TERRAIN_CUSTOMIZATION_ROADMAP.md
Due: none

Add multi-scenario hyperparameter tuning pipeline
  .gitignore
  v2/frontend/app.py
  v2/frontend/catalogs.py
  v2/scripts/tune_hyperparams_multi.py
  v2/scripts/tuning_scenarios.py
Due: ty, pytest

Narrower pytest precommits
  .pre-commit-config.yaml
Due: none

Linearize phase 1 scoring and lower phase2_base default
  v2/engine/generate.py
  v2/engine/generate_test.py
  v2/engine/types.py
  v2/engine_rs/src/generate.rs
  v2/engine_rs/src/types.rs
  v2/scripts/example_search_space.json
  v2/scripts/tune_hyperparams.py
  v2/scripts/tune_hyperparams_multi.py
Due: ty, pytest, cargo-fmt, cargo-clippy, cargo-test

Convert shell scripts to cross-platform Python, make all scripts executable
  CLAUDE.md
  README.md
  v2/scripts/README.md
  v2/scripts/bench_python_visibility.py
  v2/scripts/coverage.py
  v2/scripts/profile_engine.py
  v2/scripts/run-coverage.sh
  v2/scripts/run-ui.sh
  v2/scripts/tune_hyperparams.py
  v2/scripts/tune_hyperparams_multi.py
  v2/scripts/tuning_scenarios.py
  v2/scripts/ui.py
Due: ty, pytest

Split coverage script into coverage_py, coverage_rs, and coverage_cmp
  .gitignore
  v2/scripts/coverage_cmp.py
  v2/scripts/coverage_py.py
  v2/scripts/coverage_rs.py
Due: ty, pytest

Add unit tests for frontend app.py algorithmic helpers
  v2/frontend/app_test.py
Due: ty, pytest

Document coverage scripts and fix cargo-tarpaulin link failure
  CLAUDE.md
  README.md
  v2/engine_rs/Cargo.toml
Due: cargo-clippy

Add parallel tempering integration tests to Rust engine
  v2/engine_rs/src/generate.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Explicit num_replicas in parity tests and add per-test timing
  v2/engine_cmp/compare.py
  v2/engine_cmp/compare_test.py
Due: ty, pytest

Reduce num_steps for slow multi-type parity scenarios
  v2/engine_cmp/compare.py
Due: ty, pytest

Add infantry visibility dual-pass system
  v2/engine/generate.py
  v2/engine/types.py
  v2/engine/visibility.py
  v2/engine/visibility_test.py
  v2/engine_cmp/compare.py
  v2/engine_rs/src/generate.rs
  v2/engine_rs/src/mutation.rs
  v2/engine_rs/src/types.rs
  v2/engine_rs/src/visibility.rs
  v2/scripts/build_rust_engine.py
Due: ty, pytest, cargo-fmt, cargo-clippy, cargo-test

Replace 2" test crates with WTC 5" stacks and fix visibility FP parity bugs
  v2/engine_cmp/compare.py
  v2/engine_rs/src/visibility.rs
Due: ty, pytest, cargo-fmt, cargo-clippy, cargo-test

Update optimization docs for FP parity reversions and add mission_ruins benchmark
  v2/engine_rs/OPTIMIZATION_LOOP.md
  v2/engine_rs/OPTIMIZATION_NOTES.md
  v2/engine_rs/benches/generate_bench.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Replace DZ visibility PIP sampling with polygon-polygon intersection
  v2/engine/collision.py
  v2/engine/collision_test.py
  v2/engine/generate.py
  v2/engine/generate_test.py
  v2/engine/types.py
  v2/engine/visibility.py
  v2/engine/visibility_test.py
  v2/engine_cmp/compare.py
  v2/engine_rs/src/collision.rs
  v2/engine_rs/src/generate.rs
  v2/engine_rs/src/types.rs
  v2/engine_rs/src/visibility.rs
  v2/frontend/app.py
  v2/requirements.txt
Due: ty, pytest, cargo-fmt, cargo-clippy, cargo-test

Reduce scoring_targets_with_mission to 5 steps and add --step-multiplier option
  v2/engine_cmp/compare.py
  v2/scripts/build_rust_engine.py
Due: ty, pytest

Update optimization notes for polygon-intersection DZ visibility refactor
  v2/engine_rs/OPTIMIZATION_NOTES.md
Due: cargo-clippy

Add manual feature placement via "+ Add Terrain" button
  v2/frontend/app.py
Due: ty, pytest

Add hover tooltips to all UI controls and compact 2x2 button grid
  v2/frontend/app.py
Due: ty, pytest

Replace ad-hoc benchmarks with 28-case pairwise covering array (9 parameters)
  v2/engine_rs/OPTIMIZATION_NOTES.md
  v2/engine_rs/benches/fixtures/44x30_crates_DoW_sym_20_g1001.json
  v2/engine_rs/benches/fixtures/44x30_crates_SnD_nosym_10_g0111.json
  v2/engine_rs/benches/fixtures/44x30_crates_SnD_sym_100_g1101.json
  v2/engine_rs/benches/fixtures/44x30_crates_SwpEng_sym_50_g1101.json
  v2/engine_rs/benches/fixtures/44x30_crates_none_nosym_10_g0000.json
  v2/engine_rs/benches/fixtures/44x30_wtc_Crucible_nosym_20_g0111.json
  v2/engine_rs/benches/fixtures/44x30_wtc_HnA_nosym_50_g0110.json
  v2/engine_rs/benches/fixtures/44x30_wtc_TipPt_nosym_100_g0110.json
  v2/engine_rs/benches/fixtures/44x30_wtc_TipPt_sym_10_g1010.json
  v2/engine_rs/benches/fixtures/44x30_wtc_none_nosym_100_g0111.json
  v2/engine_rs/benches/fixtures/60x44_crates_DoW_nosym_50_g0011.json
  v2/engine_rs/benches/fixtures/60x44_crates_HnA_nosym_10_g1001.json
  v2/engine_rs/benches/fixtures/60x44_crates_HnA_sym_100_g1011.json
  v2/engine_rs/benches/fixtures/60x44_crates_TipPt_nosym_20_g0101.json
  v2/engine_rs/benches/fixtures/60x44_wtc_Crucible_sym_50_g0110.json
  v2/engine_rs/benches/fixtures/60x44_wtc_SnD_sym_20_g1000.json
  v2/engine_rs/benches/fixtures/60x44_wtc_SwpEng_nosym_100_g0010.json
  v2/engine_rs/benches/fixtures/60x44_wtc_SwpEng_sym_10_g0101.json
  v2/engine_rs/benches/fixtures/60x44_wtc_none_nosym_20_g1010.json
  v2/engine_rs/benches/fixtures/90x44_crates_Crucible_nosym_100_g1001.json
  v2/engine_rs/benches/fixtures/90x44_crates_Crucible_sym_10_g1000.json
  v2/engine_rs/benches/fixtures/90x44_crates_SwpEng_nosym_20_g1010.json
  v2/engine_rs/benches/fixtures/90x44_crates_TipPt_sym_50_g1001.json
  v2/engine_rs/benches/fixtures/90x44_crates_none_nosym_50_g1101.json
  v2/engine_rs/benches/fixtures/90x44_wtc_DoW_nosym_10_g0110.json
  v2/engine_rs/benches/fixtures/90x44_wtc_DoW_sym_100_g1100.json
  v2/engine_rs/benches/fixtures/90x44_wtc_HnA_sym_20_g0100.json
  v2/engine_rs/benches/fixtures/90x44_wtc_SnD_nosym_50_g0010.json
  v2/engine_rs/benches/fixtures/README.md
  v2/engine_rs/benches/generate_bench.rs
  v2/engine_rs/benches/generate_fixtures.py
Due: ty, pytest, cargo-fmt, cargo-clippy, cargo-test

Add comprehensive module docstrings across engine and frontend
  CLAUDE.md
  v2/engine/collision.py
  v2/engine/generate.py
  v2/engine/mutation.py
  v2/engine/prng.py
  v2/engine/tempering.py
  v2/engine/types.py
  v2/frontend/app.py
  v2/frontend/layout_io.py
Due: ty, pytest

perf(engine_rs): AABB early-exit and FxHash for visibility hot paths
  v2/engine_rs/.optimization_status
  v2/engine_rs/OPTIMIZATION_NOTES.md
  v2/engine_rs/src/collision.rs
  v2/engine_rs/src/visibility.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Add num_replicas as 10th pairwise benchmark parameter (1, 2, 4, 8)
  v2/engine_rs/OPTIMIZATION_NOTES.md
  v2/engine_rs/benches/fixtures/44x30_crates_Crucible_sym_10_g1000_r8.json
  v2/engine_rs/benches/fixtures/44x30_crates_SnD_sym_20_g1000_r8.json
  v2/engine_rs/benches/fixtures/44x30_crates_TipPt_nosym_20_g0101_r8.json
  v2/engine_rs/benches/fixtures/44x30_crates_TipPt_sym_50_g1001_r4.json
  v2/engine_rs/benches/fixtures/44x30_wtc_DoW_sym_10_g0110_r8.json
  v2/engine_rs/benches/fixtures/44x30_wtc_HnA_nosym_10_g1001_r8.json
  v2/engine_rs/benches/fixtures/44x30_wtc_SnD_nosym_50_g0010_r1.json
  v2/engine_rs/benches/fixtures/44x30_wtc_SwpEng_sym_20_g1010_r8.json
  v2/engine_rs/benches/fixtures/44x30_wtc_none_nosym_100_g0111_r2.json
  v2/engine_rs/benches/fixtures/44x30_wtc_none_nosym_20_g1010_r8.json
  v2/engine_rs/benches/fixtures/60x44_crates_DoW_nosym_20_g1001_r4.json
  v2/engine_rs/benches/fixtures/60x44_crates_HnA_sym_100_g1011_r2.json
  v2/engine_rs/benches/fixtures/60x44_crates_SwpEng_nosym_10_g0101_r4.json
  v2/engine_rs/benches/fixtures/60x44_crates_none_nosym_50_g1101_r4.json
  v2/engine_rs/benches/fixtures/60x44_wtc_Crucible_nosym_20_g0111_r2.json
  v2/engine_rs/benches/fixtures/60x44_wtc_Crucible_sym_50_g0110_r4.json
  v2/engine_rs/benches/fixtures/60x44_wtc_HnA_nosym_50_g0110_r4.json
  v2/engine_rs/benches/fixtures/60x44_wtc_SnD_nosym_10_g0111_r4.json
  v2/engine_rs/benches/fixtures/60x44_wtc_SwpEng_sym_100_g0010_r1.json
  v2/engine_rs/benches/fixtures/60x44_wtc_TipPt_sym_10_g1010_r2.json
  v2/engine_rs/benches/fixtures/90x44_crates_Crucible_nosym_100_g1001_r1.json
  v2/engine_rs/benches/fixtures/90x44_crates_Crucible_sym_10_g1000.json
  v2/engine_rs/benches/fixtures/90x44_crates_DoW_sym_50_g0011_r2.json
  v2/engine_rs/benches/fixtures/90x44_crates_HnA_sym_20_g0100_r1.json
  v2/engine_rs/benches/fixtures/90x44_crates_SnD_sym_100_g1101_r2.json
  v2/engine_rs/benches/fixtures/90x44_crates_SwpEng_nosym_50_g1101_r2.json
  v2/engine_rs/benches/fixtures/90x44_crates_none_nosym_10_g0000_r1.json
  v2/engine_rs/benches/fixtures/90x44_wtc_DoW_nosym_100_g1100_r1.json
  v2/engine_rs/benches/fixtures/90x44_wtc_TipPt_nosym_100_g0110_r1.json
  v2/engine_rs/benches/fixtures/README.md
  v2/engine_rs/benches/generate_bench.rs
  v2/engine_rs/benches/generate_fixtures.py
Due: ty, pytest, cargo-fmt, cargo-clippy, cargo-test

Fix all 12 ty type-checker warnings
  v2/engine/visibility.py
  v2/frontend/app.py
  v2/scripts/build_rust_engine.py
  v2/scripts/package_executable.py
Due: ty, pytest

perf(engine_rs): attempted OBB caching in is_valid_placement -- no improvement, documented
  v2/engine_rs/.optimization_status
  v2/engine_rs/OPTIMIZATION_NOTES.md
Due: cargo-clippy

Standardize command conventions and reduce permission prompts
  .claude/agents/rust-optimizer.md
  .claude/settings.json
  .gitignore
  CLAUDE.md
  v2/engine_rs/OPTIMIZATION_LOOP.md
Due: cargo-clippy

perf(engine_rs): pseudoangle for bucket assignment, replacing atan2 in visibility bucketing
  v2/engine_rs/OPTIMIZATION_NOTES.md
  v2/engine_rs/src/visibility.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Use git rev-parse --show-toplevel to prevent working directory drift
  .claude/agents/rust-optimizer.md
  CLAUDE.md
  v2/engine_rs/OPTIMIZATION_LOOP.md
Due: cargo-clippy

Replace git rev-parse working directory workaround with CLAUDE_BASH_MAINTAIN_PROJECT_WORKING_DIR=1
  .claude/agents/rust-optimizer.md
  .claude/settings.json
  CLAUDE.md
  v2/engine_rs/OPTIMIZATION_LOOP.md
Due: cargo-clippy

Add verbose progress logging to rust-optimizer agent
  .claude/agents/rust-optimizer.md
  .claude/settings.json
Due: none

changing up permissions on rust optimizer agent
  .claude/agents/rust-optimizer.md
Due: none

perf(engine_rs): use sin_cos() for epsilon ray trig, ~7% speedup
  v2/engine_rs/OPTIMIZATION_NOTES.md
  v2/engine_rs/src/visibility.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Rename .optimization_status to .optimization_status.txt to avoid permissions issues
  .claude/agents/rust-optimizer.md
  v2/engine_rs/.optimization_status
  v2/engine_rs/OPTIMIZATION_LOOP.md
Due: cargo-clippy

Add auto-generated version tags to build workflow and binary names
  .github/workflows/build.yml
  v2/scripts/package_executable.py
Due: ty, pytest

Path conditions:
  ty: any of: ^v2/.*\.py$
  pytest: any of: (^v2/.*\.py$|requirements.*\.txt$)
  cargo-fmt: any of: ^v2/engine_rs/.*\.rs$
  cargo-clippy: any of: ^v2/engine_rs/
  cargo-test: any of: ^v2/engine_rs/.*\.rs$
