Repository khaaarl/carltographer: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty, pytest-engine, pytest-frontend, cargo-fmt, cargo-clippy, cargo-test

ty:
  name: ty check
  entry: v2/.env/bin/ty check v2/
  language: system
  pass_filenames: false

pytest-engine:
  name: pytest engine
  entry: bash -c 'cd v2 && .env/bin/python -m pytest engine/ --no-header -q; ret=$?; [ $ret -eq 5 ] && exit 0 || exit $ret'
  language: system
  pass_filenames: false

pytest-frontend:
  name: pytest frontend
  entry: bash -c 'cd v2 && .env/bin/python -m pytest frontend/ --no-header -q; ret=$?; [ $ret -eq 5 ] && exit 0 || exit $ret'
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: bash -c 'cd v2/engine_rs && cargo fmt --check'
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: bash -c 'cd v2/engine_rs && cargo clippy --quiet -- -D warnings'
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  entry: bash -c 'cd v2/engine_rs && cargo test --quiet'
  language: system
  pass_filenames: false

Rename Generate button to Optimize in the UI
  v2/frontend/app.py
Due: ty, pytest-frontend

remove $ bash stuff from CLAUDE.md merge procedure so it can run without breaking permissions
  CLAUDE.md
Due: none

Add arbitrary polygon terrain shapes with full Rust parity
  v2/engine/collision.py
  v2/engine/collision_test.py
  v2/engine/generate_test.py
  v2/engine/types.py
  v2/engine/visibility.py
  v2/engine/visibility_test.py
  v2/engine_cmp/compare.py
  v2/engine_rs/src/collision.rs
  v2/engine_rs/src/generate.rs
  v2/engine_rs/src/mutation.rs
  v2/engine_rs/src/types.rs
  v2/engine_rs/src/visibility.rs
  v2/frontend/app.py
  v2/frontend/catalogs.py
Due: ty, pytest-engine, pytest-frontend, cargo-fmt, cargo-clippy, cargo-test

Add polygon terrain (wtcPoly) to Rust engine benchmarks and optimization docs
  v2/engine_rs/OPTIMIZATION_LOOP.md
  v2/engine_rs/OPTIMIZATION_NOTES.md
  v2/engine_rs/benches/fixtures/44x30_wtcPoly_HnA_sym_10_g1010_r8.json
  v2/engine_rs/benches/fixtures/44x30_wtcPoly_SnD_sym_50_g0000_r2.json
  v2/engine_rs/benches/fixtures/44x30_wtcPoly_SwpEng_nosym_10_g0110_r8.json
  v2/engine_rs/benches/fixtures/60x44_wtcPoly_TipPt_sym_100_g1100_r1.json
  v2/engine_rs/benches/fixtures/60x44_wtcPoly_none_nosym_20_g0101_r4.json
  v2/engine_rs/benches/fixtures/90x44_wtcPoly_Crucible_sym_20_g1001_r1.json
  v2/engine_rs/benches/fixtures/90x44_wtcPoly_DoW_nosym_50_g0011_r2.json
  v2/engine_rs/benches/fixtures/README.md
  v2/engine_rs/benches/generate_bench.rs
  v2/engine_rs/benches/generate_fixtures.py
Due: ty, cargo-fmt, cargo-clippy, cargo-test

Add sed to claude permissions
  .claude/settings.json
Due: none

Add Python engine optimization notes and parallelize parity test runner
  v2/engine/OPTIMIZATION_NOTES.md
  v2/engine_cmp/compare.py
  v2/requirements-dev.txt
  v2/scripts/build_rust_engine.py
Due: ty, pytest-engine, pytest-frontend

Optimize Python engine: scalar PIP guard, AABB early-exit, vectorized collision
  v2/engine/OPTIMIZATION_NOTES.md
  v2/engine/collision.py
  v2/engine/visibility.py
Due: ty, pytest-engine, pytest-frontend

Add --windowed flag to PyInstaller to suppress console window
  v2/scripts/package_executable.py
Due: ty

Restrict --windowed flag to Windows only
  v2/scripts/package_executable.py
Due: ty

Fix --windowed crash: redirect None stdout/stderr to devnull
  v2/packaging/entry_point.py
Due: ty

Replace Unicode symbols with ASCII in engine selection log
  v2/frontend/app.py
Due: ty, pytest-frontend

Show tkinter callback exceptions in error dialog
  v2/frontend/app.py
Due: ty, pytest-frontend

Fix missing width/depth_inches for polygon shapes in catalog
  v2/engine_rs/src/types.rs
  v2/frontend/catalogs.py
Due: ty, pytest-frontend, cargo-fmt, cargo-clippy, cargo-test

Fix NaN panic in visibility raycasting when observer is on an endpoint
  v2/engine_rs/src/visibility.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Fix objective hidability: compute vis polys from objective vicinity
  v2/engine/visibility.py
  v2/engine/visibility_test.py
  v2/engine_rs/OPTIMIZATION_NOTES.md
  v2/engine_rs/src/visibility.rs
Due: ty, pytest-engine, pytest-frontend, cargo-fmt, cargo-clippy, cargo-test

Require verifying expected failure reason in TDD workflow
  CLAUDE.md
Due: none

Optimize objective hidability: reuse main-loop vis polys via boolean tracking
  v2/engine/visibility.py
  v2/engine/visibility_test.py
  v2/engine_rs/OPTIMIZATION_NOTES.md
  v2/engine_rs/src/visibility.rs
Due: ty, pytest-engine, pytest-frontend, cargo-fmt, cargo-clippy, cargo-test

Use --ff-only flag in squash-merge procedure
  CLAUDE.md
Due: none

Add is_footprint flag, tag-based Obscuring detection, and infantry visibility display
  v2/PLAN-obscuring-height.md
  v2/engine/types.py
  v2/engine/visibility.py
  v2/engine/visibility_test.py
  v2/engine_cmp/compare.py
  v2/engine_cmp/compare_test.py
  v2/engine_rs/src/collision.rs
  v2/engine_rs/src/generate.rs
  v2/engine_rs/src/mutation.rs
  v2/engine_rs/src/types.rs
  v2/engine_rs/src/visibility.rs
  v2/frontend/app.py
  v2/frontend/catalogs.py
Due: ty, pytest-engine, pytest-frontend, cargo-fmt, cargo-clippy, cargo-test

Clean up dead code, stale comments, and misleading scenario names
  v2/CODE_REVIEW_NOTES.md
  v2/engine_cmp/compare.py
  v2/engine_rs/src/generate.rs
  v2/engine_rs/src/visibility.rs
Due: ty, cargo-fmt, cargo-clippy, cargo-test

Extract terrain catalogs to JSON files, add catalog_io module
  v2/catalogs/builtin/gw_misc.json
  v2/catalogs/builtin/polygon_terrain.json
  v2/catalogs/builtin/wtc_set.json
  v2/catalogs/test/multi_type.json
  v2/catalogs/test/polygon_mixed.json
  v2/catalogs/test/polygon_only.json
  v2/catalogs/test/polygon_tank_only.json
  v2/catalogs/test/quantity_limited.json
  v2/catalogs/test/standard.json
  v2/catalogs/test/walls_dual.json
  v2/catalogs/test/walls_tall_only.json
  v2/engine/catalog_io.py
  v2/engine/types.py
  v2/engine_cmp/compare.py
  v2/frontend/catalogs.py
  v2/schemas/carltographer.schema.json
Due: ty, pytest-engine, pytest-frontend

Fix remaining code review items: deepcopy, docstring accuracy
  v2/CODE_REVIEW_NOTES.md
  v2/engine/generate.py
  v2/engine/types.py
  v2/frontend/catalogs.py
Due: ty, pytest-engine, pytest-frontend

Eliminate PlacedFeature cloning and cache OBBs in is_valid_placement
  v2/engine_rs/src/collision.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Code review rounds 2-3: fix dead code, stale comments, misleading names across codebase
  v2/CODE_REVIEW_NOTES.md
  v2/engine/collision.py
  v2/engine/collision_test.py
  v2/engine/generate.py
  v2/engine/generate_test.py
  v2/engine/mutation.py
  v2/engine/prng.py
  v2/engine/tempering.py
  v2/engine/tempering_test.py
  v2/engine/types.py
  v2/engine/visibility.py
  v2/engine/visibility_test.py
  v2/engine_cmp/compare.py
  v2/engine_cmp/compare_test.py
  v2/engine_cmp/hash_manifest.py
  v2/engine_rs/src/collision.rs
  v2/engine_rs/src/generate.rs
  v2/engine_rs/src/visibility.rs
  v2/frontend/app.py
  v2/scripts/bench_python_visibility.py
  v2/scripts/build_rust_engine.py
  v2/scripts/coverage_cmp.py
  v2/scripts/profile_engine.py
  v2/scripts/tune_hyperparams_multi.py
  v2/scripts/tuning_scenarios.py
  v2/scripts/ui.py
Due: ty, pytest-engine, pytest-frontend, cargo-fmt, cargo-clippy, cargo-test

Eliminate PlacedFeature cloning in visibility precomputation
  v2/engine_rs/src/visibility.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Fix PyInstaller packaging and add --smoke-test verification
  v2/frontend/app.py
  v2/frontend/catalogs.py
  v2/scripts/package_executable.py
Due: ty, pytest-frontend

Add PYTHONPATH prohibition to CLAUDE.md
  CLAUDE.md
Due: none

Add Xvfb-based GUI smoke test for Linux
  .github/workflows/build.yml
  v2/frontend/app.py
  v2/requirements-dev.txt
  v2/scripts/package_executable.py
Due: ty, pytest-engine, pytest-frontend

Add TTS save file export with object placement and pivot calibration
  v2/catalogs/builtin/wtc_set.json
  v2/engine/generate.py
  v2/engine/mutation.py
  v2/engine/mutation_test.py
  v2/engine_rs/src/generate.rs
  v2/engine_rs/src/mutation.rs
  v2/frontend/app.py
  v2/frontend/tts_save.py
  v2/reference_info/tts/reference_save_file.json
  v2/schemas/carltographer.schema.json
Due: ty, pytest-engine, pytest-frontend, cargo-fmt, cargo-clippy, cargo-test

Include TTS reference_info directory in PyInstaller package
  v2/scripts/package_executable.py
Due: ty

Path conditions:
  ty: any of: ^v2/.*\.py$
  pytest-engine: any of: (^v2/engine/.*\.py$|requirements.*\.txt$)
  pytest-frontend: any of: (^v2/(engine|frontend)/.*\.py$|requirements.*\.txt$)
  cargo-fmt: any of: ^v2/engine_rs/.*\.rs$
  cargo-clippy: any of: ^v2/engine_rs/
  cargo-test: any of: ^v2/engine_rs/.*\.rs$
